body{
    margin: 0;
    padding: 0;
    background-image: url("../images/Apple.jpg")
}
.navigation{
    background-color: black;
    overflow: hidden;
}
 
#heading{
color: rgb(116, 118, 235);
    text-align: center
};


.navigation a{
    color: cornsilk;
    font-size: 20px;
    text-decoration: none;
    margin-right: 5%;
    padding: 15px 15px;
    float: left;

}

.login-page{
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    background-color: blue;
}
h1{
    color: white;
}
input[type=text],[type=password],[type=email], input[type=date], select{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}



input[type=submit]{
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: green;
}

.tab-content{
    background-color: rgb(87, 87, 233);
}
form{
    margin: 20px;
}


